PORT=3000
NODE_ENV=development

# Supabase (Direct or Pooler Connection):
# postgresql://postgres.[REF]:[PASSWORD]@aws-0-[REGION].pooler.supabase.com:6543/postgres
# postgresql://postgres:[PASSWORD]@db.[REF].supabase.co:5432/postgres
DATABASE_URL=postgresql://postgres:your_password@db.your_project_ref.supabase.co:5432/postgres

JWT_SECRET=supersecretkeyforyourapi

